.box {
    
    max-width: 1000px;
    margin: 4rem auto;
    display: grid;
    grid-gap: 1rem;

}
@media(min-width: 600px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
 }
  @media(min-width: 900px){
    .box{
        grid-template-columns: repeat(6, 1fr);
    }
 }