.box {
    
    max-width: 1000px;
    margin: 4rem auto;
    display: grid;
    grid-gap: 1rem;

}
@media(min-width: 600px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
 }
  @media(min-width: 900px){
    .box{
        grid-template-columns: repeat(6, 1fr);
    }
 }
 .cart__footer{
    margin-left: 10%;
    margin-right: 10%;
 }
 .title{
    margin-bottom: 2%;
     margin-top: 2%;
 }


.cart__btn-empty1 {
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.cart__btn-empty1::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.cart__btn-empty1:hover::before {
 width: 9em;
}