
.box {
 position: relative;
 width: 220px;
 height: auto;

 transition: 0.5s;
 z-index: 1;
}



.box {
    
    max-width: 1000px;
    margin: 4rem auto;
    display: grid;
    grid-gap: 1rem;

}
@media(min-width: 600px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
 }
  @media(min-width: 900px){
    .box{
        grid-template-columns: repeat(6, 1fr);
    }
 }


.card {
 width: 13rem;
 height: 19rem;
 border-radius: 30px;
 padding: .8em;
 margin-bottom: .9em;
 background: #e0e0e0;
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
cursor: pointer;
}

.card-img {
 
 height: 60%;
 width: 100%;
 border-radius: .5rem;
 
 transition: .3s ease;
}

.card .card-info {
 padding-top: 10%;
}

svg {
 width: 20px;
 height: 20px;
}

.card .card-footer {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 0px;
 
}

/*Text*/
.text-title {
 font-weight: 900;
 font-size: 1.2em;
 line-height: 1.5;
}

.text-body {
 font-size: .9em;
 padding-bottom: 5px;


}

/*Button*/
.card-button {
 border: 1px solid #252525;
 display: flex;
 padding: .3em;
 cursor: pointer;
 border-radius: 50px;
 transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
 transform: translateY(-25%);
}

.card-button:hover {
 border: 1px solid #ffcaa6;
 background-color: #ffcaa6;
}
