nav {
  color: #212121;
  background-color: #212121
;
}
.br4 {        border-radius: 1rem;
color: black; }

.left-100 {
  left: 100%;
}
.font{
	font-family: "Counpmrier New", Courier, monospace;
}
.background{
	background-color: #e8e8e8

}





.Tilt-inner img{
width: 100%;
height: 100%;
}